{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block breadcrumb_item %}Tableau de bord{% endblock %}
{% block page_title %}Tableau de bord{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <h5 class="card-title">Tableau de bord</h5>
            <p class="card-text">Bienvenue sur le tableau de bord ! (Contrôleur : {{ controller_name }})</p>
        </div>
    </div>
</div>
{% endblock %}